<div id="wrapper">
	<%= render "admin/layouts/left_menu" %>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
			<%= render "admin/layouts/header" %>
      <%= yield %>
		</div>
  </div>
</div>
