<div class="content-sidebar mt-3">
  <h4 class="text-danger"><%= t "base.brands" %></h4>
    <ul>
      <% get_list_brand.each do |f| %>
        <li><%= link_to f.name, "#" %></li>
      <% end %>
    </ul>
</div>
